<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/foundation.css">
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    @Html.Partial("_Header")

    <div id="body-wrapper" class="row">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

<script src="~/Scripts/what-input.js"></script>
<script src="~/Scripts/foundation.js"></script>
@RenderSection("scripts", false)
</body>
</html>

